include ../input/index
    
mixin inputText(data)    
    +input.inputText
        label.input-wrapper
            span.input-holder
                input(name=data.name, type=(data.type ? data.type : "text"), required=data.required).input-el
                span.input-label
                    span.input-caption= data.title
            span.input-advice