include ../button/index
include ../logo/index
    
mixin header(data)
    - if(!data) var data = {};
    .header
        .header-branding
            .header-logo
                +logo()
            .header-title Rising App
        unless data.noControls
            .header-addTask
                +button({
                    title: "Add tasks +"
                })(hidden).button--addTask
                
            .header-logOut
                a(href="/logout").header-logOutBtn Log out