.page {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: stretch;
  
  height: 100%;
  width: 100%;

  &-content {
    flex: 1 1 auto;
    padding: 24px;

    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  
  &-header {
    padding: 24px;
    flex: 0 0 auto;
    background-color: $light-base;
  }
  
  &-footer {
    flex: 0 0 auto;
    background-color: $light-base;
    padding: 24px;
  }
}
