extends document

block body
    include ../components/page/index
    include ../components/popup/index
    include ../components/forms/form/index
    include ../components/header/index
        
    include ../components/forms/inputText/index
    include ../components/forms/inputTextarea/index
    include ../components/forms/inputSubmit/index
    include ../components/forms/inputDropdown/index
        
    +page()
        .page-header
            +header()
            
        .page-content
            block content
            
    +popup({
        title: "Adding task..."
    }).popup--addTask
            
        h4 New task
        +form({
            action: "#",
            type: "PUT"
        }).form--addTask
            .form-row
                +inputText({
                    title: "Title:", 
                    name: "title",
                    required: true
                })

            .form-row
                +inputTextarea({
                    title: "Description:",
                    name: "text",
                    required: true
                })

            .form-row
                +inputDropdown({
                    title: "Priority:",
                    name: "priority",
                    options: [
                        {
                            title: "High",
                            value: "High"
                        },
                        {
                            title: "Medium",
                            value: "Medium"
                        },
                        {
                            title: "Low",
                            value: "Low"
                        }
                    ]
                })

            .form-row.form-row--rightAligned
                +inputSubmit({
                    title: "Confirm"
                })
            
            
            
    