.taskList {
  height: auto;
  flex-direction: column;
  display: flex;
  flex: 1 1 auto;

  min-width: 324px;

  &-title {
    flex: 0 0 auto;
    margin: 0 0 24px;
    color: $grey;
    font-weight: 400;
  }
  
  &-queue {
    flex: 1 1 auto;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 16px;
  }
}