.taskList {
  height: auto;
  flex-direction: column;
  display: flex;
  flex: 1 1 auto;
  border-radius: 3px;
  padding: 0 16px;

  min-width: 324px;
  
  transition: $fade-transition;
  
  &--isDropable {
    background-color: rgba($blue, 0.1);
  }

  &-title {
    flex: 0 0 auto;
    margin: 0 0 24px;
    color: $grey;
    font-weight: 400;
  }
  
  &-queue {
    flex: 1 1 auto;
    overflow-y: auto;
    overflow-x: hidden;
  }
}