.board {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;

  &-queue {
    flex: 0 0 auto;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    
    margin-right: 16px;

    overflow-y: auto;
  }

  &-main {
    flex: 1 1 auto;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: stretch;   
    
    padding-bottom: 16px;
  }
  
  &-list {
    padding-right: 16px;
    display: flex;
    flex-direction: column;
    
    &:last-child {
      padding-right: 0;
    }
  }
}
