extends document

block body
    include ../components/page/index
    include ../components/header/index

    +page()
        .page-header
            +header({
                noControls: true
            })

        .page-content
            block content