.inputTextarea {

  &-el {
    -webkit-appearance: none;
    width: 100%;
    box-sizing: border-box;
    line-height: 20px;
    padding: 10px 0;
    outline: none;
    font-size: 17px;

    text-overflow: ellipsis;
    overflow: hidden;

    border: none;
    border-bottom: 1px solid #ccc;

    transition: all .2s ease-out;
    position: relative;
    z-index: 10;
    background: none;

    height: auto;
    min-height: 100px;
    resize: vertical;
    
  }
  
}

