include ../input/index

mixin inputDropdown(data)
    +input().inputDropdown.inputDropdown--closed
        label.input-wrapper.inputDropdown-wrapper
            span.input-holder
                input(name=data.name, type="hidden").inputDropdown-el
                span(tabindex="0").inputDropdown-fakeInput Not chosen
                span.inputDropdown-label
                    span.inputDropdown-caption= data.title
            span.input-advice Fill this field

        ul.inputDropdown-list
            each item in data.options
                li.inputDropdown-option(data-value=item.value)= item.title



