.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1 1 auto;
  
  &-aligner {
    flex: 0 0 auto;
    width: 360px;
    padding: 24px 32px;
    border-radius: 3px;
    background-color: $light-base;
  }
  
  &-registerLink {
    color: #666;
    text-decoration: none;
    
    &:hover {
      text-decoration: underline;
      color: $blue;
    }
  }
}