.buttonDefault {
  -webkit-appearance: none;
  text-decoration: none;
  color: inherit;
  background: none;
  border: none;
  
  display: inline-block;
  
  height: 45px;
  padding: 0 20px;
  border-radius: 3px;
  line-height: 45px;
  box-sizing: border-box;
}
  