extends templates/logo-only

append scripts
    script(src="scripts/register_new.js")
    script.
        App.RegisterPage.run();

block content
    include components/welcome/index
    include components/forms/form/index
    include components/forms/inputText/index
    include components/forms/inputSubmit/index
        
    +welcome()
        +form({
            action: "/registration",
            method: "POST"
        }).form--registration
            h2 Registration
            
            .form-row
                +inputText({
                    title: "First name:",
                    required: true,
                    name: "firstName"
                })
                
            .form-row
                +inputText({
                    title: "Last name:",
                    required: true,
                    name: "lastName"
                })
                
            .form-row
                +inputText({
                    title: "Email:",
                    type: "email",
                    required: true,
                    name: "email"
                })
                
            .form-row
                +inputText({
                    title: "Password:", 
                    type: "password",
                    required: true,
                    name: "password"
                })
                
            .form-row
                +inputText({
                    title: "Repeat password:",
                    type: "password",
                    required: true
                })
                
            .form-row
                .form-group
                    .form-groupItem
                        | Have account? 
                        a(href="/login").welcome-registerLink Sign in!
                    .form-groupItem.form-groupItem--rightAligned
                        +inputSubmit({
                            title: "Register"
                        })
                    
                        
                